# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Мои воспоминания\Университет\4 семестр (GitHub)\University--4th-semester-\Семестр 5\Разработка серверных частей интернет-ресурсов\Пр4\Restaurant_new_\zoo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
